@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700);
body{
	font-family: 'Titillium Web', sans-serif;
}
.content{
	max-width: 1100px;
	margin: 0 auto;
}
header{
	background-color: #87509c;
}
.logo{
	padding-top: 55px;
	padding-left: 40px;
	float: left;
}
.menu{
	float: right;
	padding-right: 40px;
	padding-top: 55px;
}
.menu ul{
	list-style-type: none;
	margin: 0;
}
.menu li{
	display: inline-block;
	padding-left: 8px;
}
.menu a{
	padding: 5px 18px;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.menu a:hover{
	background-color: #643a79;

}

.top_header::after{
	content: "";
	clear: both;
	display: block;
}
h1{
	text-align: center;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	padding-top: 125px;
	padding-bottom: 65px;
}

.btn{
	text-align: center;
	padding-bottom: 165px;
}
.btn a{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding: 20px 80px;
	border-radius: 3px;
	text-decoration: none;
}

header .btn a{
	background-color: #eb7d4b;
	border-bottom: 4px solid #c86a40;
}
section{
		padding-top: 100px;
	padding-bottom: 100px
}

.container_1{
	color: #fff;
	text-align: center;
	background-color: #17c2a4;
}

h2{
	margin: 0;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
}

.line{
	width: 87px;
	height: 4px;
	margin: 18px auto;

}
.container_1 .line{
	background-color: rgba(0,0,0, .15);
}

.container_1 .text{
	padding: 0 255px 65px;
	font-size: 18px;
}
.rows .item{
	display: inline-block;
	width: 260px;
}
.rows .head{
	font-size: 24px;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 13px;
	font-weight: 700;
}
.rows .text_info{
padding-left: 30px;
padding-right: 30px;
font-weight: 300;
}
.container_2{
	background-color: #e7f1f8;
	color: #3c4761;
	text-align: center;
}
.container_2 .line{
	background-color: #c8d9e5;
}
.container_2 .text{
	padding: 0 225px 75px;
	font-size: 18px;
}
.container_2 .text_in{
	padding: 20px 30px 25px;
	font-size: 16px;
}
.container_2 .prof{
	font-weight: 600;
	color: #30bae7;
}
.item ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.s_cet li{
	display: inline-block;
	padding: 0 3px;
}
.s_cet_2 li{
	display: inline-block;
	padding: 0 3px;
}
.s_cet_3 li{
	display: inline-block;
	padding: 0 3px;
}
.s_cet_4 li{
	display: inline-block;
	padding: 0 3px;
}

/*FB*/
.s_cet li:first-child a{
	background: url(../img/result.png) 0 0;
	width: 32px;
	height: 32px;
	display: inline-block;
}
/*IN*/
.s_cet li:nth-child(2) a{
	background: url(../img/result.png) 0 -42px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
/*MAIL*/
.s_cet li:nth-child(3) a{
	background: url(../img/result.png) 0 -84px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
/*TW*/
.s_cet li:nth-child(4) a{
	background: url(../img/result.png) 0 -126px;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.s_cet_2 li:first-child a{
	background: url(../img/result.png) 0 -126px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_2 li:nth-child(2) a{
	background: url(../img/result.png) 0 -42px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_2 li:nth-child(3) a{
	background: url(../img/result.png) 0 -84px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_3 li:first-child a{
	background: url(../img/result.png) 0 0;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_3 li:nth-child(2) a{
	background: url(../img/result.png) 0 -126px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_3 li:nth-child(3) a{
	background: url(../img/result.png) 0 -42px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_3 li:nth-child(4) a{
	background: url(../img/result.png) 0 -84px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_4 li:first-child a{
	background: url(../img/result.png) 0 0;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_4 li:nth-child(2) a{
	background: url(../img/result.png) 0 -126px;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.s_cet_4 li:nth-child(2) a{
	background: url(../img/result.png) 0 -84px;
	width: 32px;
	height: 32px;
	display: inline-block;
}



.container_3{
	background-color: #fff;
	color: #3c4761;
	text-align: center;
}
.container_3 .line{
	background-color: #dfe8ed;
}
.container_3 .text{
	padding: 0 265px 75px;
}
.container_3 .item{
	display: inline-block;
}
.container_3 .rows .item img{
	padding:0 50px;
}



.container_4{
	background-color: #ffdd99;
	text-align: center;
}
.container_4 .text{
	text-align: center;
	padding-right: 290px;
	padding-left: 290px;
}
.container_4 .line{
	background-color: #e5c37f;
	color: #393939;
}

#Container .mix{
    display: none;
    text-align: center;
    margin: 63px 10px 0;

}
.btn_centr{
	text-align: center;
	margin: 40px 0 0;
}
.btn_centr button{
	background-color: #ebc985;
	border-style: none;
	border-radius: 3px;
	padding: 5px 25px;
	margin: 0 5px;
}
.btn_centr button:hover{
	background-color: #fff;
}
.container_4 .content{
	max-width: 1200px; 
}
.tx_in{
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 15px;
}
.container_4 .btn a{
	background-color: #17c2a4;
	border-bottom: 4px solid #14a58c;
}
.container_4 .btn{
	padding: 103px 0 15px;
}

.container_5 .content{
	max-width: 1300px;
}
.container_5{
	background-color: #d74680;
	color: #fff;
}
.container_5 .line{
	background-color: #b73c6d;
}
.container_5 .text{
	text-align: center;
}
.container_5 .item{
	width: 530px;
	height: 180px;
	display: inline-block;
	padding: 65px 0;
	margin-left: 95px;
}
.container_5 .item img{
	float: left;
	overflow:hidden;
	display: inline-block;
	padding-right: 45px;
}
.container_5 .info_text{
	width: 370px;
	float: left;
	padding-top: 10px;
}
.container_5 .in_3{

	font-style: italic;
	font-size: 21px;
}
.container_5 .head{
	padding: 20px 0 0;
}
.container_5 .prof{
	color: #ffdd99;
	font-size: 18px;
}


.container_6{
	background-color: #3c5499;
	color: #fff;
	text-align: center;
}
.container_6 .line{
	background-color: #273a71;
}
.container_6 .text{
	text-align: center;
}
.form_blok{
	text-align: center;
	color: #fff;
}


input[type="text"],
input[type="email"]{
	
	overflow: hidden;
	border: none;
	background-color: #273a71;
	border-radius: 3px;
	line-height: 40px;
	margin: 72px 16px 27px;
	width: 414px;
	padding-left: 23px;
	color: #fff;



}
textarea[name="messege"]{

	width: 868px;
	border:none;
	background-color: #273a71;
	border-radius: 3px;
	height: 200px;
	padding: 10px 20px;
	color: #fff;
}

.container_6 .btn a{
	background-color: #30bae7;
	border-bottom: 4px solid #299ec5;
}
.container_6 .btn{
	padding:83px 0 40px;
}

.footer{
	background-color: #344b8e;
}
}
.footer .soc_seti{
	display: inline-block;
	margin-top: 0px;
   margin-bottom: 0px;
}
.footer li{
	list-style-type: none;
	display: inline-block;
}
.footer li a{
	text-decoration: none;
	color:#fff;
	font-size: 24px;
	font-style:;
	margin: 0 27px;
}
.footer li a:hover{
	color: #30bae7;
}

.footer{
	padding-top: 45px;
	padding-bottom: 45px;
	text-align: center;
}